<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <h3 class="col-md-6">User List</h3>
        <button class="btn btn-primary col-md-4" (click)="addClick()">Add New User</button>    
    </div>
</div>
<title>User Info List</title>
<table  class="table table-dark">
    <thead>
        <tr><th>Username</th><th>Email</th><th>Phone</th><th>Street</th><th>City</th><th>Country</th><th>Admin</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let userInfo of usersInfo">
            <td>{{ userInfo.uname }}</td>
            <td>{{ userInfo.email }}</td>
            <td>{{ userInfo.phone }}</td>
            <td>{{ userInfo.street }}</td>
            <td>{{ userInfo.city }}</td>
            <td>{{ userInfo.country }}</td>
            <td>
                <button class="btn btn-primary" (click)="updateClick(userInfo.uname)">View Password</button> /
                <button type="button" class="btn btn-success" (click)="click(user.uname)">Update</button> /
                <button type="button" class="btn btn-danger" (click)="deleteUser(user.uname)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- <app-users-list *ngIf="updateToggle"></app-users-list> -->


<div *ngIf="updateToggle">
    <table class="table table-dark">
        <thead>
            <tr><th>Username</th><th>Password</th><th>Admin</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.uname }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <button (click)="closePassword()">Close User</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="addToggle">
    <app-admin-create></app-admin-create>
</div>
    

