<div class="container">
    <div class="row">
        <h3 class="col-md-6">User List</h3>
        <button class="btn btn-primary col-md-4" (click)="addClick()">Add New User</button>    
    </div>
</div>


<div class="update-user" *ngIf="updateToggle" >
    <form class="container col-md-6">
        <div class="form-group">
            <label class="form-label">UserName</label>
            <br>
            <input  [(ngModel)]="user.uname" type="text" name="uname">
        </div>
        <div class="form-group">
            <label class="form-label">Password</label>
            <br>
            <input  [(ngModel)]="user.password" type="text" name="password">
        </div>
    </form>
</div>
<div *ngIf="addToggle">
    <app-admin-create></app-admin-create>
</div>
